---
layout: dealer-solutions
title: Accelerate Car Dealer Solutions
meta-description: The Accelerate Dealer Solutions Division effectively outsources the finance and insurance department of Automotive Dealerships.
featured-image_path: /images/dealer-solutions-feature.jpg
---

<!-- slider -->
<section class="wrapper100percent">
    <div class="flexslider">
        <ul class="slides">
          <li>
              <img src="images/dealer-solutions-slider.jpg" alt="" />
          </li>
          <li>
              <img src="images/smiling-work-man-slider.jpg" alt="" />
          </li>
        </ul>
    </div>
</section>
<!--slider end-->

<section class="service-headline dealer-solutions-background">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>
          Accelerate Dealer Solutions
          </h1>
                <p>
                    Professionals in the outsourcing of finance and insurance for the car dealership industry.
                </p>
            </div>
            <ul class="row single-icons-wrapper">
                <div class="col-sm-5">
                </div>
                <li class="col-sm-2">
                    <div class="single-icon last">
                        <img src="images/icon-car.png" alt="">
                        <h4>
            Cars
            </h4>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- insurance headline end -->

<!-- one section -->
<section class="wrapper100percent section">
    <div class="sectionwrapper"></div>
    <div class="mainheadlinewrapper">
        <div class="mainheadline">
            <h3>The Accelerate Dealer Solutions Division effectively outsources the finance and insurance department of Automotive Dealerships.</h3>
            <p>Providing the whole package, Accelerate Dealer Solutions recruit, employ, train and monitor to achieve outstanding finance and insurance results.</p>
            <h3>Give our Car Dealer team a call today.</h3>
          </div>
        </div>
        </section>

      <section class="wrapper100percent section1">
      <div class="sectionwrapper"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-2">
            </div>
            <!-- teamcolumn  -->
            <div class="col-md-4">
                {% include team-hoppy-short.html %}
            </div>
            <!-- teamcolumn end -->
            <!-- teamcolumn  -->
            <div class="col-md-4">
                {% include team-manou-short.html %}
            </div>
            <!-- teamcolumn end -->
        </div>
    </div>
    <!-- container end -->

</section>
<!-- our team end -->
