---
layout: financial-solutions
title: Car/Equipment Loans
meta-description:
featured-image_path:
---

<!-- slider -->
<section class="wrapper100percent">
  <div class="flexslider">
    <ul class="slides">
      <li>
        <img src="images/couple-with-new-car-keys-slider.jpg" alt="" />
      </li>
      <li>
        <img src="images/young-woman-with-new-car-slider.jpg" alt="" />
      </li>
    </ul>
  </div>
</section>
<!--slider end-->

<section class="service-headline financial-solutions-background">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>
          Accelerate Financial Solutions
          </h1>
        <p>
          Loans for Cars, Vans, Trucks, Tractors, Diggers, Motorbikes, Caravans & Boats
        </p>
      </div>
      <ul class="row single-icons-wrapper">
        <li class="col-sm-2">
          <div class="single-icon">
            <img src="images/icon-car.png" alt="">
            <h4>
            Vehicles
            </h4>
          </div>
        </li>
        <li class="col-sm-2">
          <div class="single-icon">
            <img src="images/icon-truck.png" alt="">
            <h4>
            Trucks
            </h4>
          </div>
        </li>
        <li class="col-sm-2">
          <div class="single-icon">
            <img src="images/icon-tractor.png" alt="">
            <h4>
            Tractors
            </h4>
          </div>
        </li>
        <li class="col-sm-2">
          <div class="single-icon">
            <img src="images/icon-motorbike.png" alt="">
            <h4>
            Motorbikes
            </h4>
          </div>
        </li>
        <li class="col-sm-2">
          <div class="single-icon">
            <img src="images/icon-caravan.png" alt="">
            <h4>
            Caravans
            </h4>
          </div>
        </li>
        <li class="col-sm-2">
          <div class="single-icon last">
            <img src="images/icon-luxury.png" alt="">
            <h4>
            Boats
            </h4>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
<!-- insurance headline end -->

<!-- one section -->
<div class="wrapper100percent">
  <div class="container blogpost service-body">
    <div class="row">
      <div class="col-md-8">

        <h4>We arrange finance for:</h4>
        <p></p>
        <ul class="ul-list">
          <li>Car Loans</li>
          <li>
            Personal Loans</li>
        </ul>
        <p><strong>Do you need a new car, to upgrade your existing car, or a personal loan for something special? </strong></p>
        <p>The Accelerate Group can find you a loan for just about anything, whether it be to upgrade your car, go on the holiday you’ve always wanted, funds for a wedding, to buy that ski boat the kids want, or funds for personal improvement. </p>
        <p><strong>We can help you find the car loan, or personal loan that is the best fit for you.</strong></p>
        <ul class="ul-list">
          <li>
            Need a new car…? <strong>We can help</strong>
          </li>
          <li>
            Want a new car…? <strong>We can help</strong>
          </li>
          <li>
            Need a new truck…? <strong>We can help</strong>
          </li>
          <li>
            Want a new truck…? <strong>We can help</strong>
          </li>
          <li>
            Want a motorbike …? <strong>We can help</strong>
          </li>
          <li>
            Want a boat…? <strong>We can help</strong>
          </li>
          <li>
            Want a caravan…? <strong>We can help</strong>
          </li>
        </ul>
        <h4>Let us help you to:</h4>
        <p></p>
        <ul class="ul-list">
          <li>
            Calculate how much you can borrow</li>
          <li>
            Get a quick approval</li>
          <li>
            Find the best loan for you</li>
          <li>
            Provide assistance from our <a href="/car-buying-solutions">Car Buying Specialist</a> to take the stress out of trawling through thousands of cars</li>
        </ul>
      </div>
      <div class="col-md-4">
        {% include rhs-column-no-calculators.html %}
      </div>
    </div>
  </div>

  <section class="wrapper100percent section">
    <div class="sectionwrapper"></div>
    <div class="mainheadlinewrapper">
      <div class="mainheadline">
        <!-- our team -->
        <h4>Interested in learning more about your Car/Equipment Loan options? <br>Contact one of our friendly team…</h4>
      </div>
    </div>
  </section>

  <section class="wrapper100percent section1">
    <div class="sectionwrapper"></div>

    <div class="container">
      <div class="row">
        <!-- teamcolumn  -->
        <div class="col-md-4">
          {% include team-hoppy-short.html %}
        </div>
        <!-- teamcolumn end -->
        <!-- teamcolumn  -->
        <div class="col-md-4">
          {% include team-manou-short.html %}
        </div>
        <!-- teamcolumn end -->
        <!-- teamcolumn  -->
        <div class="col-md-4">
          {% include team-scott.html %}
        </div>
        <!-- teamcolumn end -->
      </div>
    </div>
    <!-- container end -->
    <div class="container">
      <div class="row">
        <!-- teamcolumn  -->
        <div class="col-md-4">
          {% include team-russell.html %}
        </div>
        <!-- teamcolumn end -->
        <!-- teamcolumn  -->
        <div class="col-md-4">
          {% include team-kelly.html %}
        </div>
        <!-- teamcolumn end -->
        <!-- teamcolumn  -->
        <div class="col-md-4">
          {% include team-laurence.html %}
        </div>
        <!-- teamcolumn end -->
      </div>
    </div>
    <!-- container end -->
    <div class="container">
      <div class="row">
        <!-- teamcolumn  -->
        <div class="col-md-4">
        </div>
        <!-- teamcolumn end -->
        <!-- teamcolumn  -->
        <div class="col-md-4">
          {% include team-andrea.html %}
        </div>
        <!-- teamcolumn end -->
        <!-- teamcolumn  -->
        <div class="col-md-4">
        </div>
        <!-- teamcolumn end -->
      </div>
    </div>
    <!-- container end -->
    <div class="container">
      <div class="row member-logos">
        <a href="https://www.fos.org.au/" target="_blank"><img src="/images/fos-logo.png"></a>
      </div>
    </div>

  </section>
  <!-- our team end -->
