---
layout: default
title:
meta-description:
featured-image_path:
---

<!-- slider -->
<section class="wrapper100percent">
    <div class="flexslider">
        <ul class="slides">
            <li>
                <img src="images/busy-working-cafe-slider.jpg" alt="" />
            </li>
            <li>
                <img src="images/family-moving-into-new-home-slider.jpg" alt="" />
            </li>
            <li>
                <img src="images/young-woman-with-new-car-slider.jpg" alt="" />
            </li>
            <li>
                <img src="images/couple-with-new-car-keys-slider.jpg" alt="" />
            </li>
        </ul>
    </div>
</section>
<!--slider end-->

<!-- welcome -->
<section class="wrapper100percent section">
    <div class="sectionwrapper"></div>
    <div class="mainheadlinewrapper">
        <div class="mainheadline">
            <h2>Welcome to Accelerate Group</h2>
            <h3>Originally established in 2006 by Managing Director Andrew Hopkins, Accelerate Group provides finance broker services, and is South Australian owned and operated.</h3>
            <p> The group has combined financial experience of over 100 years, and prides itself on having specialists in all areas of finance, and in providing genuine customer service.</p>
            <p> We provide a holistic finance offering, covering home and investment loans, business loans/business funding, car/equipment loans for both business and personal use, and insurance to provide peace of mind.</p>
            <p> It’s the customer service that makes Accelerate different. That’s the reason why each of our highly valued and respected customers come back time and time again to use our services. You won’t find a friendlier or more efficient team to get
                your finances sorted.</p>
            <h3> So what are you waiting for? </h3>
            <h3> Give us a call today on <a href="tel:1300145626">1300 14 LOAN</a> to discuss your financial potential. </h3>
        </div>
    </div>
    </div>
</section>
<!-- welcome end -->

<section class="wrapper100percent section1a">
    <!-- carousel-->
    <div class="row gallery js-flickity" data-flickity-options='{
        "contain": true,
        "imagesLoaded": true,
        "autoPlay": true,
        "pageDots": false,
        "prevNextButtons": false,
        "wrapAround": false
        }'>
        <!-- one logo -->
        <div class="col-md-2 partnerone">
            <a href="/loans"><img src="images/AccelerateLoans_RGB_200px.png" alt="">
        </div>
        <!-- one logo end -->
        <!-- one logo -->
        <div class="col-md-2 partnerone">
            <a href="/car-equipment-loans"><img src="images/AccelerateFinancial_RGB_200px.png" alt=""></a>
        </div>
        <!-- one logo end -->
        <!-- one logo -->
        <div class="col-md-2 partnerone">
            <a href="/car-buying-solutions"><img src="images/AccelerateCarBuying_RGB_200px.png" alt=""></a>
        </div>
        <!-- one logo end -->
        <!-- one logo -->
        <div class="col-md-2 partnerone">
            <a href="/car-dealer-solutions"><img src="images/AccelerateDealerSolutions_RGB_200px.png" alt=""></a>
        </div>
        <!-- one logo end -->
        <!-- one logo -->
        <div class="col-md-2 partnerone">
            <a href="/learning"><img src="images/AccelerateLearning_RGB_200px.png" alt=""></a>
        </div>
        <!-- one logo end -->
        <!-- carousel end -->
</section>

<!-- map/form -->
<section class="wrapper100percent section3" id="menu6">
    <div class="left">
        <div class="left-inner">
            <h3>Where we are</h3> {% include map.html %}
        </div>
    </div>
    <div class="right">
        <div class="right-inner">
            <h3>Enquire now</h3> {% include contact-form.html %}
        </div>
    </div>
</section>
<!-- map/form end -->
