---
layout: loans
title: Home Loans
meta-description:
featured-image_path:
---

<!-- slider -->
<section class="wrapper100percent">
  <div class="flexslider">
    <ul class="slides">
      <li>
        <img src="images/family-walking-slider.jpg" alt="" />
      </li>
      <li>
        <img src="images/first-home-buyers-slider.jpg" alt="" />
      </li>
      <li>
        <img src="images/family-moving-into-new-home-slider.jpg" alt="" />
      </li>

    </ul>
  </div>
</section>
<!--slider end-->

<section class="service-headline loans-background">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>
        Accelerate Loans
        </h1>
        <p>
          Home Loans and Investment Loans
        </p>
      </div>
      <ul class="row single-icons-wrapper">
        <div class="col-sm-4">
        </div>
        <li class="col-sm-2">
          <div class="single-icon">
            <img src="images/icon-home.png" alt="">
            <h4>
          Homes
          </h4>
          </div>
        </li>
        <li class="col-sm-2">
          <div class="single-icon last">
            <img src="images/icon-home.png" alt="">
            <h4>
          Investments
          </h4>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
<!-- insurance headline end -->

<!-- one section -->
<div class="wrapper100percent">
  <div class="container blogpost service-body">
    <div class="row">
      <div class="col-md-8">

        <h4>We arrange finance for:</h4>
        <p></p>
        <ul class="ul-list">
          <li>Home Loans</li>
          <li>Investment Loans</li>
          <li>Construction Loans</li>
          <li>Refinance & Debt Consolidation Loan</li>
          <li>Bridging Finance</li>
          <li>SMSF Loans</li>
          <li>Self Employed Loans</li>
        </ul>
        <p>We understand buying a home is one of the biggest financial and emotional decisions you may make in your life. It is such an exciting time, but can also be overwhelming and a bit daunting.</p>
        <p><strong>We are here to help you every step of the way, and will always keep you informed.</strong></p>
        <p>Many things change in the finance industry, sometimes weekly, so even if this is not your first property purchase, we are here to keep you informed of what has changed, what is the best rate and product for you at the time you are looking.</p>
        <p></p>
        <h5>Property Investment Benefits can include:</h5>
        <p></p>
        <ul class="ul-list">
          <li>Wealth creation through capital growth</li>
          <li>Tax benefits while you are working</li>
          <li>Controlling your finances to achieve the retirement lifestyle you plan for yourself</li>
          <li>Building an income to support your retirement</li>
        </ul>
        <h4>First Home Buyers</h4>
        <p></p>
        <p>To our First Home Buyers, who we love to work with, there is many things to think about before you embark on purchasing your first home, and a few of these things are listed below:</p>
        <p></p>
        <h5>Deposit - How much will you need?</h5>
        <p></p>
        <p>You will need a minimum 10% of the value of the property (purchase price) which includes 5% deposit, plus 5% to cover purchase costs including stamp duty. A deposit can come from savings, and a family guarantee in the form of a gift of money to
          increase your deposit, or equity in a property that the family member owns and is offered as security for the deposit. A family guarantee can be a great option as it means that you can often avoid the cost of LMI which will save you money.</p>
        <p>Aside from savings, deposit can also come from the following;</p>
        <p><strong>**Should there be more content here?**</strong></p>
        <p></p>
        <h5>How much can you borrow?</h5>
        <p></p>
        <p>Before you spend hours trawling through the property websites, let an Accelerate Broker complete some calculations to help you understand how much you can borrow. Your Borrowing Capacity depends on how much you earn, and what your living expenses
          are.</p>
        <p>You can also use our online <a href="borrowing-capacity-calculator">Borrowing Capacity Calculator</a>.</p>
        <p></p>
        <h5>A Pre-approval</h5>
        <p></p>
        <p>A pre-approval will help you shop with confidence, knowing what price range is realistic, and that you won’t miss out on that perfect property.</p>
        <p></p>
        <h5>Understand your Purchase Costs</h5>
        <p></p>
        <p>These upfront costs may include;</p>
        <ul class="ul-list">
          <li>Stamp Duty and Transfer Fees</li>
          <li>Mortgage Application Fees</li>
          <li>Mortgage Registration Fees</li>
          <li>Conveyancer Costs</li>
          <li>Lenders Mortgage Insurance (LMI)</li>
          <li>Inspection Fees</li>
        </ul>

        <h5>Lenders Mortgage Insurance (LMI)</h5>
        <p></p>
        <p>When you borrow more than 80% of the value of the property you may have to pay Lenders Mortgage Insurance. This is a once off cost and can generally be added to the loan amount and paid over the term of the loan.</p>
        <p></p>
        <h5>Choosing the right loan</h5>
        <p></p>
        <ul class="ul-list">
          <li>Principal and Interest or Interest Only</li>
          <li>Fixed or Variable</li>
          <li>Split Loans</li>
          <li>Offset Accounts</li>
        </ul>

        <p>Let the Accelerate Group assist you in structuring your loan to suit your situation and needs.</p>
        <p></p>

        <h5>First Home Owners Grant</h5>
        <p></p>
        <p>The First Home Owners Grant (FHOG) varies from state to state, however, in South Australia the grant for eligible first home buyers is new homes only.</p>

        <ul class="ul-list">
          <li>
            Buying a home or investment property…? <strong>We can help</strong>
          </li>
          <li>
            Building a new home, or knocking down and building…? <strong>We can help</strong>
          </li>
          <li>
            Not happy with your current home loan and want a comparison…? <strong>We can help</strong>
          </li>
          <li>
            Unsure what other options are out there…? <strong>We can help</strong>
          </li>
          <li>
            Having trouble understanding the many loan types and the bank terminology…? <strong>We can help</strong>
          </li>
          <li>
            Looking to purchase a house in your Self Managed Super Fund (SMSF)…? <strong>We can help</strong>
          </li>
        </ul>

        <h4>Let us help you to:</h4>
        <p></p>
        <ul class="ul-list">
          <li>Make buying your first home be a fun and exciting time</li>
          <li>Calculate your borrowing power</li>
          <li>Find the loan that suits you</li>
        </ul>


      </div>
      <div class="col-md-4">
        {% include rhs-column-no-calculators.html %}
      </div>
    </div>
  </div>

  <section class="wrapper100percent section">
    <div class="sectionwrapper"></div>
    <div class="mainheadlinewrapper">
      <div class="mainheadline">
        <!-- our team -->

        <h4>Interested in learning more about your Home and Investment Loan options? <br> Contact our friendly team…</h4>

      </div>
    </div>
  </section>

  <section class="wrapper100percent section1">
    <div class="sectionwrapper"></div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
        </div>
        <!-- teamcolumn  -->
        <div class="col-md-4">
          {% include team-monica-short.html %}
        </div>
        <!-- teamcolumn end -->
      </div>
    </div>
    <!-- container end -->
    <div class="container">
      {% include loans-disclaimer.html %}
    </div>
    <!-- container end -->
    <div class="container">
      <div class="row member-logos">
        <a href="https://www.cio.org.au/" target="_blank"><img src="/images/cio-logo.png"></a><a href="https://www.mfaa.com.au/" target="_blank"><img src="/images/mfaa-finance-broker-logo.png"></a>
      </div>
    </div>
  </section>
  <!-- our team end -->
