---
layout: loans
title: Home Loans
meta-description:
featured-image_path:
---

<!-- slider -->
<section class="wrapper100percent">
    <div class="flexslider">
        <ul class="slides">
            <li>
                <img src="images/family-moving-into-new-home-slider.jpg" alt="" />
            </li>
            <li>
                <img src="images/relaxed-family-bubbles-slider.jpg" alt="" />
            </li>
        </ul>
    </div>
</section>
<!--slider end-->

<section class="insurance-headline loans-background">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>
          Accelerate Loans
          </h1>
                <p>
                    Home Loans and Investment Loans
                </p>
            </div>
            <ul class="row single-icons-wrapper">
                <div class="col-sm-4">
                </div>
                <li class="col-sm-2">
                    <div class="single-icon">
                        <img src="images/icon-home.png" alt="">
                        <h4>
            Homes
            </h4>
                    </div>
                </li>
                <li class="col-sm-2">
                    <div class="single-icon last">
                        <img src="images/icon-home.png" alt="">
                        <h4>
            Investments
            </h4>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- insurance headline end -->

<!-- one section -->
<section class="wrapper100percent section">
    <div class="sectionwrapper"></div>
    <div class="mainheadlinewrapper">
        <div class="mainheadline">
            <ul class="ul-list">
                <li>
                    <i class="fa fa-check"></i> Buying a home or investment property…? We can help
                </li>
                <li>
                    <i class="fa fa-check"></i> Building a new home, or knocking down and building…? We can help
                </li>
                <li>
                    <i class="fa fa-check"></i> Not happy with your current home loan and want a comparison…? We can help
                </li>
                <li>
                    <i class="fa fa-check"></i> Unsure what other options are out there…? We can help
                </li>
                <li>
                    <i class="fa fa-check"></i> Having trouble understanding the many loan types and the bank terminology…? We can help
                </li>
                <li>
                    <i class="fa fa-check"></i> Looking to purchase a house in your Self Managed Super Fund (SMSF)…? We can help
                </li>
            </ul>
            <h3>Interested in learning more about your Home Loan and Investment Loan options? <br> Contact one of our friendly team…</h3>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <!-- teamcolumn  -->
            <div class="col-md-4">
                {% include team-monica-short.html %}
            </div>
            <!-- teamcolumn end -->
            <!-- teamcolumn  -->
            <div class="col-md-4">
                {% include team-donna.html %}
            </div>
            <!-- teamcolumn end -->
            <!-- teamcolumn  -->
            <div class="col-md-4">
                {% include team-richard.html %}
            </div>
            <!-- teamcolumn end -->
        </div>
    </div>
    <!-- container end -->
</section>
<!-- our team end -->
