---
layout: default
title: Our Team
meta-description: Finance professionals with complimentary skills brought together to provide outstanding service, efficiency and a seamless experience.
featured-image_path: /images/group-work-meeting-feature.jpg
---

<div class="mainheadlinewrapperpage">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <div class="mainheadlinepage">
          <h1 class="editable">Our Team</h1>
          <p class="editable">Finance professionals with complimentary skills brought together to provide outstanding service, efficiency and a seamless experience.</p>
        </div>
      </div>
      <div class="col-sm-4 text-right">
      <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li class="active">Our Team</li>
      </ol>
      </div>
    </div>
  </div>
</div>

<!-- our team -->
<section class="wrapper100percent section1">
<div class="sectionwrapper"></div>
  <div class="mainheadlinewrapper">
    <div class="mainheadline">
      <h2 class="editable">Executive</h2>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <!-- teamcolumn  -->
      <div class="col-md-4">
        {% include team-hoppy.html %}
      </div>
      <!-- teamcolumn end -->
      <!-- teamcolumn  -->
      <div class="col-md-4">
        {% include team-manou.html %}
      </div>
      <!-- teamcolumn end -->
      <!-- teamcolumn  -->
      <div class="col-md-4">
        {% include team-monica.html %}
      </div>
      <!-- teamcolumn end -->
    </div>
  </div>
  <!-- container end -->

  <div class="mainheadlinewrapper">
    <div class="mainheadline">
      <h2 class="editable">Lending & Administration Team</h2>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <!-- teamcolumn  -->
      <div class="col-md-4">
        {% include team-denis.html %}
      </div>
      <!-- teamcolumn end -->
      <!-- teamcolumn  -->
      <div class="col-md-4">
        {% include team-kelly.html %}
      </div>
      <!-- teamcolumn end -->
      <!-- teamcolumn  -->
      <div class="col-md-4">
        {% include team-laurence.html %}
      </div>
      <!-- teamcolumn end -->
    </div>
  </div>
  <div class="container">
    <div class="row">
      <!-- teamcolumn  -->
      <div class="col-md-2">
      </div>
      <!-- teamcolumn end -->
      <!-- teamcolumn  -->
      <div class="col-md-4">
        {% include team-andrea.html %}
      </div>
      <!-- teamcolumn end -->
      <!-- teamcolumn  -->
      <div class="col-md-4">
        {% include team-ricky.html %}
      </div>
      <!-- teamcolumn end -->
    </div>
  </div>

  <div class="mainheadlinewrapper">
    <div class="mainheadline">
      <h2 class="editable">Associates</h2>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <!-- teamcolumn  -->
      <div class="col-md-4">
        {% include team-russell.html %}
      </div>
      <!-- teamcolumn end -->
      <!-- teamcolumn  -->
      <div class="col-md-4">
        {% include team-scott.html %}
      </div>
      <!-- teamcolumn end -->
      <!-- teamcolumn  -->
      <div class="col-md-4">
        {% include team-richard.html %}
      </div>
      <!-- teamcolumn end -->
    </div>
  </div>

</section>
<!-- our team end -->
