<!-- contact-form -->
<form class="wrapper100percent" method="post" action="/success.html">
  <div id="main">

        <div>
          <p><input type="text" placeholder="your name" name="name" id="name"/>
          </p>
        </div>
        <div>
          <p> <input type="text" placeholder="your e-mail address" name="email" id="email" />
          </p>
        </div>
        <div>
          <p> <input type="text" placeholder="subject" name="_subject" id="subject" />
          </p>
        </div>
        <div>
          <p> <input type="text" placeholder="Are you interested in a home, business or car loan?" name="loan-type" id="loan-type" />
          </p>
        </div>
        <p><textarea placeholder="your message" name="comments" id="comments" rows="12" cols="5"></textarea>
        </p>
        <div class="buttoncontact">
          <p>
          <input type="hidden" name="_to" value="loans@acceleratefinancial.com.au">
          <input type="submit" value="Send Message">
          </p>
      </div>
      <ul class="col-sm-12"></ul>
  </div>
</form>
<!-- contact-form-end end -->
