<!-- This is the head of your html, add content here just like you would normally add it to the head. -->

<!-- Meta Data -->
<meta charset="utf-8">

    <!-- Meta data for SEO purposes. -->
    <title> {{page.title}} </title>
    <meta name="description" content="{{page.meta-description}}">
    <meta name="keywords" content="{{page.meta-keywords}}">

    <!--  Social media sharing META Tags -->
    <meta property="og:title" content="{{page.title}}">
    <meta property="og:description" content="{{page.meta-description}}">
    <meta property="og:image" content="{{page.featured-image_path}}">
    <meta property="og:url" content="{{page.url}}">
    <meta name="twitter:card" content="{{page.meta-description}}">
    <meta name="og:site_name" content="<!-- ADD SITE NAME HERE -->">

<!-- end of meta tags -->

<!-- from head of Insurance template -->

<!-- meta data to tell the browser that your devide is responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i" rel="stylesheet" type='text/css'>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/colorbox.css">
<!-- end -->

<!-- Links to CSS Stylesheets  -->

    <!-- Gridlex for a simple flexbox grid -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gridlex/2.2.4/gridlex.min.css">

    <!-- visit http://realfavicongenerator.net to generate favicons for your site and then place them in the /images/favicons folder -->

<!-- end stylesheets -->

<!-- Favicon -->
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
<!-- end Favicon -->

<!-- Google Analytics -->
<!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-38685368-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-38685368-1');
    </script>
<!-- end Google Analytics -->
