<div class="grid-middle">
  <div class="col-2_sm-4">
    <img src="/images/Adelaide-Bank-logo.png">
  </div>
  <div class="col-2_sm-4">
    <img src="/images/AMP-logo.png">
  </div>
  <div class="col-2_sm-4">
    <img src="/images/ANZ-logo.png">
  </div>
  <div class="col-2_sm-4">
    <img src="/images/Australia-First-Mortgage-logo.png">
  </div>
  <div class="col-2_sm-4">
    <img src="/images/BOQ.gif">
  </div>
  <div class="col-2_sm-4">
    <img src="/images/BankSA_logo_MASTER.jpg">
  </div>
  <div class="col-2_sm-4">
    <img src="/images/bank_west_australia.JPG">
  </div>
  <div class="col-2_sm-4">
    <img src="/images/bmm_logo.gif">
  </div>
  <div class="col-2_sm-4">
    <img src="/images/Bluestone.png">
  </div>
  <div class="col-2_sm-4">
    <img src="/images/CBA_stack_72dpi.jpg">
  </div>
  <div class="col-2_sm-4">
    <img src="/images/CHL-Final-RGB.jpg">
  </div>
  <div class="col-2_sm-4">
    <img src="/images/FMB_RGB_Stacked.png">
  </div>
  <div class="col-2_sm-4">
    <img src="/images/GATEWAY-Credit-Union.gif">
  </div>
  <div class="col-2_sm-4">
    <img src="/images/firstmac.jpg">
  </div>
  <div class="col-2_sm-4">
    <img src="/images/heritage-bank.jpg">
  </div>
  <div class="col-2_sm-4">
    <img src="/images/15_HomeloansLogo.gif">
  </div>
  <div class="col-2_sm-4">
    <img src="/images/INGDirect_ItsYourMoney.jpg">
  </div>
  <div class="col-2_sm-4">
    <img src="/images/La-Trobe-Logo.jpg">
  </div>
  <div class="col-2_sm-4">
    <img src="/images/loan_ave_mm_logo_final.jpg">
  </div>
  <div class="col-2_sm-4">
    <img src="/images/Macquarie.gif">
  </div>
  <div class="col-2_sm-4">
    <img src="/images/ME-Bank-logo.jpg">
  </div>
  <div class="col-2_sm-4">
    <img src="/images/NAB-Horizontal-logo.JPG">
  </div>
  <div class="col-2_sm-4">
    <img src="/images/Pepper-Money-logo.JPG">
  </div>
  <div class="col-2_sm-4">
    <img src="/images/Teachers-Mutual-Bank-600.jpg">
  </div>
  <div class="col-2_sm-4">
    <img src="/images/Suncorp_Hor_CMYK.jpg">
  </div>
  <div class="col-2_sm-4">
    <img src="/images/VIRGIN_MONEY_AUS_LOGO_GRADIENT_RGB.PNG">
  </div>
  <div class="col-2_sm-4">
    <img src="/images/Westpac-Logo-CMYK.JPG">
  </div>
</div>
