<!-- /footer is below this -->
<footer class="bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4>Office address:</h4>
        <ul>
          <li>113B Ledger Road</li>
          <li>Beverley, South Australia 5009</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4>Office contact:</h4>
        <ul>
          <li><a href="tel:0883481000">(08) 8348 1000</a></li>
          <li><a href="mailto:info@acceleratefinancial.com.au">info@acceleratefinancial.com.au</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4>Postal address:</h4>
        <ul>
          <li>PO Box 44</li>
          <li>Welland, South Australia 5007</li>
        </ul>
      </div>
      <div class="col-md-12">
        <div class="twitter">
          <div id="example1"></div>
        </div>
        <ul class="socialicons">
        <li>
          <a href="/facebook-pages"><i class="fa fa-facebook"></i></a>
        </li>
      </ul>
      <div class="copyright">
        <p>Copyright Accelerate Group <script type="text/javascript">
  document.write(new Date().getFullYear());
</script> | <a href="/privacy-policies">Privacy Policies</a> | <a href="/compliments-concerns">Compliments & Concerns</a></p>
      </div>
      <div class="scrollbutton">
        <a href="javascript:scrollToTop()" title="go to top"><i class="fa fa-chevron-up"></i></a>
      </div>
    </div>
  </div>
</div>
</footer>
