<div id="menu1"></div>
<header>
<div class="navbar-fixed-top">
<div class="top1 top">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <a href="https://www.facebook.com/acceleratefinancial/" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="https://www.linkedin.com/company-beta/7655525/" target="_blank"><i class="fa fa-linkedin"></i></a>
        <a href="skype:...?call"><i class="fa fa-phone"> <span>1300 14 LOAN (1300 14 5626)</span></i></a>
        <a href="mailto:info@acceleratefinancial.com.au"><i class="fa fa-envelope last"> <span> info@acceleratefinancial.com.au</span></i></a>
      </div>
    </div>
  </div>
</div>
<!-- menu -->
  <nav class="navbar navbar-height1 scroll menuswitch-js">
  <div class="container navbar-inner">
    <div class="row">
    <div class="col-lg-12">
    <div class="responsive-wrapper">
        <a class="navbar-brand" href="/">
          <img src="images/accelerate-group-logo.png" alt=""/>
        </a>
      <div class="navbar-header">
        <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse" type="button">
          <span class="sr-only"></span>
          <span class="icon-bar icon-bar1"></span>
          <span class="icon-bar icon-bar2"></span>
          <span class="icon-bar icon-bar3"></span>
        </button>
      </div>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <div class="cl-effect-12">
          <ul class="nav navbar-nav pull-right">
            <li><a href="/about">About</a></li>
            <li><a href="/services">Services</a>
              <ul>
                <li><a href="/home-loans">Home Loans</a></li>
                <li><a href="/business-equipment-loans">Business & Equipment Loans</a></li>
                <li><a href="car-equipment-loans">Car & Equipment Loans</a></li>
              </ul>
            </li>
            <li><a href="/calculators">Calculators</a>
              <ul>
                <li><a href="/borrowing-capacity-calculator">Borrowing Capacity</a></li>
                <li><a href="/repayments-calculator">Repayments</a></li>
                <li><a href="/extra-repayments-calculator">Extra Repayments</a></li>
              </ul>
            </li>
            <li><a href="/our-team">Team</a></li>
            <li><a href="/news">News</a></li>
            <li><a href="/careers">Careers</a></li>
            <li><a href="/contact-us">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </div>
  </nav>
  <!-- menu end -->
  </div>
</header>
