<div class="teamcolumn">
  <div class="teamcolumn-inner">
    <figure class="view1 view-first1">
      <div class="editable"><img src="images/laurence-camporeale.jpg" alt=""></div>
     </figure>
    <div class="team-name">
      <h4 class="editable">Laurence Camporeale</h4>
      <h6 class="editable">Finance & Insurance Officer</h6>
      <div class="editable"><a href="tel:0450280345"><p>Mobile: +61 450 280 345</p></a></div>
      <div class="editable"><a href="mailto:laurence@acceleratefinancial.com.au"><i class="teamicon fa fa-envelope"></i></a></div>
    </div>
  </div>
</div>
