<div class="teamcolumn">
  <div class="teamcolumn-inner">
    <figure class="view1 view-first1 editable">
      <img src="images/monica-wandel.jpg" alt="">
     </figure>
    <div class="team-name">
      <h4 class="editable">Monica Wandel <span style = "font-size: 12px;">Grad Dip BM, Dip FMBM, Dip Ag</span></h4>
      <h6 class="editable">Director</h6>
      <h6 class="editable">Commercial & Residential Mortgage Broker</h6>
      <div class="editable"><a href="tel:0418800448"><p>Mobile: +61 418 800 448</p></a></div>
      <div class="editable"><a href="mailto:monica@acceleratefinancial.com.au"><i class="teamicon fa fa-envelope"></i></a></div>
      <div class="editable"><a href="https://www.linkedin.com/in/financetoyou/" target="_blank"><i class="teamicon fa fa-linkedin"></i></a></div>
    </div>
  </div>
</div>
