<div class="teamcolumn">
  <div class="teamcolumn-inner">
    <figure class="view1 view-first1">
      <img src="images/kelly-linke.jpg" alt="">
     </figure>
    <div class="team-name">
      <h4>Kelly Linke</h4>
      <h6>Lending Manager</h6>
      <a href="tel:0410535519"><p>Mobile: +61 410 535 519</p></a>
      <a href="mailto:kellyl@acceleratefinancial.com.au"><i class="teamicon fa fa-envelope"></i></a>
      <a href="#"><i class="teamicon fa fa-linkedin"></i></a>
    </div>
  </div>
</div>
