<div class="teamcolumn">
  <div class="teamcolumn-inner">
    <figure class="view1 view-first1">
      <div class="editable"><img src="images/richard-devitt.jpg" alt=""></div>
     </figure>
    <div class="team-name">
      <h4 class="editable">Richard Devitt</h4>
      <h6 class="editable">Residential Mortgage Broker</h6>
      <div class="editable"><a href="tel:0418819083"><p>Mobile: +61 418 819 083</p></a></div>
      <div class="editable"><a href="mailto:richard@acceleratefinancial.com.au"><i class="teamicon fa fa-envelope"></i></a></div>
    </div>
  </div>
</div>
