<div class="teamcolumn">
  <div class="teamcolumn-inner">
    <figure class="view1 view-first1">
      <img src="images/andrew-hoppy-hopkins.jpg" alt="">
     </figure>
    <div class="team-name">
      <h4>Andrew "Hoppy" Hopkins</h4>
      <h6>Managing Director</h6>
      <h6>Finance Broker</h6>
      <p>Andrew, or Hoppy as he is known, is a seasoned professional with over 20+ years in the banking industry, and 30+ combined years in the finance industry. Andrew prides himself on finding individuals with skills and talents that compliment the Accelerate Group, and bringing the best out in those people to achieve a collaborative team, to provide the ultimate in customer service experience.</p>
      <p>A passionate and energetic leader, who leads by example, and respect follows.</p>
      <h6>Andrew Hopkins, Credit Representative Number ??? is authorised under Australian Credit Licence Number ???.</h6>
      <a href="tel:0438842244"><p>Mobile: +61 438 842 244</p></a>
      <a href="mailto:andrewh@acceleratefinancial.com.au"><i class="teamicon fa fa-envelope"></i></a>
      <a href="#"><i class="teamicon fa fa-linkedin"></i></a>
    </div>
  </div>
</div>
