<div class="teamcolumn">
  <div class="teamcolumn-inner">
    <figure class="view1 view-first1">
      <img src="images/monica-wandel.jpg" alt="">
     </figure>
    <div class="team-name">
      <h4>Monica Wandel</h4><class="team-qualifications">Grad Dip BM, Dip FMBM, Dip Ag</>
      <h6>Director</h6>
      <h6>Commercial & Residential Mortgage Broker</h6>
      <a href="tel:0418800448"><p>Mobile: +61 418 800 448</p></a>
      <a href="mailto:monica@acceleratefinancial.com.au"><i class="teamicon fa fa-envelope"></i></a>
      <a href="#"><i class="teamicon fa fa-linkedin"></i></a>
    </div>
  </div>
</div>
