<div class="teamcolumn">
  <div class="teamcolumn-inner">
    <figure class="view1 view-first1">
      <img src="images/donna-bergineti.jpg" alt="">
     </figure>
    <div class="team-name">
      <h4>Donna Bergineti</h4>
      <p>Dip FMBM</p>
      <h6>Commercial & Residential Mortgage Broker</h6>
      <a href="tel:0416216926"><p>Mobile: +61 416 216 926</p></a>
      <a href="mailto:donna@acceleratefinancial.com.au"><i class="teamicon fa fa-envelope"></i></a>
      <a href="#"><i class="teamicon fa fa-linkedin"></i></a>
    </div>
  </div>
</div>
