<div class="teamcolumn">
  <div class="teamcolumn-inner">
    <figure class="view1 view-first1">
      <div class="editable"><img src="images/denis-goodger.jpg" alt=""></div>
     </figure>
    <div class="team-name">
      <h4 class="editable">Denis Goodger</h4>
      <h6 class="editable">Relationship Manager</h6>
      <h6 class="editable">Car Finance Broker</h6>
      <div class="editable"><a href="tel:0414746572"><p>Mobile: +61 414 746 572</p></a></div>
      <div class="editable"><a href="mailto:denisg@acceleratefinancial.com.au"><i class="teamicon fa fa-envelope"></i></a></div>
    </div>
  </div>
</div>
