<div class="teamcolumn">
  <div class="teamcolumn-inner">
    <figure class="view1 view-first1">
      <div class="editable"><img src="images/andrew-hoppy-hopkins.jpg" alt=""></div>
     </figure>
    <div class="team-name">
      <h4 class="editable">Andrew "Hoppy" Hopkins</h4>
      <h6 class="editable">Managing Director</h6>
      <h6 class="editable">Finance Broker</h6>
      <div class="editable"><a href="tel:0438842244"><p>Mobile: +61 438 842 244</p></a></div>
      <div class="editable"><a href="mailto:andrewh@acceleratefinancial.com.au"><i class="teamicon fa fa-envelope"></i></a></div>
      <div class="editable"><a href="https://www.linkedin.com/in/andrew-hopkins-b9457732/" target="_blank"><i class="teamicon fa fa-linkedin"></i></a></div>
    </div>
  </div>
</div>
