<div class="teamcolumn">
  <div class="teamcolumn-inner">
    <figure class="view1 view-first1">
      <div class="editable"><img src="images/kelly-linke.jpg" alt=""></div>
     </figure>
    <div class="team-name">
      <h4 class="editable">Kelly Linke</h4>
      <h6 class="editable">Lending Manager</h6>
      <div class="editable"><a href="tel:0410535519"><p>Mobile: +61 410 535 519</p></a></div>
      <div class="editable"><a href="mailto:kellyl@acceleratefinancial.com.au"><i class="teamicon fa fa-envelope"></i></a></div>
      <div class="editable"><a href="https://www.linkedin.com/in/kelly-linke-4616617b/" target="_blank"><i class="teamicon fa fa-linkedin"></i></a></div>
    </div>
  </div>
</div>
