<div class="teamcolumn">
  <div class="teamcolumn-inner">
    <figure class="view1 view-first1">
      <img src="images/david-manou.jpg" alt="">
     </figure>
    <div class="team-name">
      <h4>David Manou</h4>
      <h6>Director</h6>
      <h6>Finance Broker</h6>
      <p>David has been arranging loans since 2000, and has had previous General Manager experience for 9 years at a multi-franchised, multi-site large automotive dealership group. He has achieved sales excellence, lead teams to achieve targets for both the total business and individuals to exceed expectations.</p>
      <p>David has a deep understanding of how to get the job done, is highly customer focused, and has the ability to get  the best outcomes for all parties involved.</p>
      <h6>David Manou, Credit Representative 463952 authorised under Australian Credit Licence 389963.</h6>
      <a href="tel:0412358567"><p>Mobile: +61 412 358 567</p></a>
      <a href="mailto:davidm@acceleratefinancial.com.au"><i class="teamicon fa fa-envelope"></i></a>
      <a href="https://www.linkedin.com/in/david-manou-9a231396/" target="_blank"><i class="teamicon fa fa-linkedin"></i></a>
    </div>
  </div>
</div>
