<div class="teamcolumn">
  <div class="teamcolumn-inner">
    <figure class="view1 view-first1">
      <div class="editable"><img src="images/david-manou.jpg" alt=""></div>
     </figure>
    <div class="team-name">
      <h4 class="editable">David Manou</h4>
      <h6 class="editable">Director</h6>
      <h6 class="editable">Finance Broker</h6>
      <div class="editable"><a href="tel:0412358567"><p>Mobile: +61 412 358 567</p></a></div>
      <div class="editable"><a href="mailto:davidm@acceleratefinancial.com.au"><i class="teamicon fa fa-envelope"></i></a></div>
      <div class="editable"><a href="https://www.linkedin.com/in/david-manou-9a231396/" target="_blank"><i class="teamicon fa fa-linkedin"></i></a></div>
    </div>
  </div>
</div>
