<div class="teamcolumn">
  <div class="teamcolumn-inner">
    <figure class="view1 view-first1">
      <img src="images/andrew-hoppy-hopkins.jpg" alt="">
     </figure>
    <div class="team-name">
      <h4>Andrew "Hoppy" Hopkins</h4>
      <h6>Managing Director</h6>
      <h6>Finance Broker</h6>
      <p>Mobile: +61 438 842 244</p>
      <a href="mailto:andrewh@acceleratefinancial.com.au"><i class="teamicon fa fa-envelope"></i></a>
      <a href="#"><i class="teamicon fa fa-linkedin"></i></a>
    </div>
  </div>
</div>
