<div class="teamcolumn">
  <div class="teamcolumn-inner">
    <figure class="view1 view-first1">
      <div class="editable"><img src="images/monica-wandel.jpg" alt=""></div>
     </figure>
    <div class="team-name">
      <h4 class="editable">Monica Wandel <span style = "font-size: 12px;">Grad Dip BM, Dip FMBM, Dip Ag</span></h4>
      <h6 class="editable">Director</h6>
      <h6 class="editable">Commercial & Residential Mortgage Broker</h6>
      <div class="editable">
      <p>Monica is a finance professional, experienced in retail, commercial and agri business, offering solutions based on 9 years banking experience, and 13+ years in small business ownership/management in the retail, property, commercial and agri industries.</p>
      <p>If you are looking for a passionate and experienced finance professional to work with you to achieve your finance goals (be it your home, investment properties, your business, or you are starting up in business), look no further, Monica is a wealth of knowledge across many industries.</p>
      <h6 class="editable">Monica Wandel Credit Representative Number 495989 is authorised under Australian Credit Licence Number 389328.</h6>
      </div>
      <div class="editable"><a href="tel:0418800448"><p>Mobile: +61 418 800 448</p></a></div>
      <div class="editable"><a href="mailto:monica@acceleratefinancial.com.au"><i class="teamicon fa fa-envelope"></i></a></div>
      <div class="editable"><a href="https://www.linkedin.com/in/financetoyou/" target="_blank"><i class="teamicon fa fa-linkedin"></i></a></div>
    </div>
  </div>
</div>
