<div class="teamcolumn">
  <div class="teamcolumn-inner">
    <figure class="view1 view-first1">
      <div class="editable"><img src="images/andrea-keane.jpg" alt=""></div>
     </figure>
    <div class="team-name">
      <h4 class="editable">Andrea Keane</h4>
      <h6 class="editable">Finance & Insurance Officer</h6>
      <div class="editable"><a href="tel:0455128888"><p>Mobile: +61 455 128 888</p></a></div>
      <div class="editable"><a href="mailto:andrea@acceleratefinancial.com.au"><i class="teamicon fa fa-envelope"></i></a></div>
      <div class="editable"><a href="https://www.linkedin.com/in/andrea-keane-078b3387/" target="_blank"><i class="teamicon fa fa-linkedin"></i></a></div>
    </div>
  </div>
</div>
