<div class="teamcolumn">
  <div class="teamcolumn-inner">
    <figure class="view1 view-first1">
      <img src="images/russell-edwards.jpg" alt="">
     </figure>
    <div class="team-name">
      <h4>Russell Edwards</h4>
      <h6>Finance Broker</h6>
      <a href="tel:0412195913"><p>Mobile: +61 412 195 913</p></a>
      <a href="mailto:russelle@acceleratefinancial.com.au"><i class="teamicon fa fa-envelope"></i></a>
      <a href="#"><i class="teamicon fa fa-linkedin"></i></a>
    </div>
  </div>
</div>
