<div class="teamcolumn">
  <div class="teamcolumn-inner">
    <figure class="view1 view-first1">
      <div class="editable"><img src="images/ricky-hulme.jpg" alt=""></div>
     </figure>
    <div class="team-name">
      <h4 class="editable">Ricky Hulme</h4>
      <h6 class="editable">Business Manager</h6>
      <div class="editable"><a href="tel:0421726056"><p>Mobile: +61 421 726 056</p></a></div>
      <div class="editable"><a href="mailto:info@acceleratefinancial.com.au"><i class="teamicon fa fa-envelope"></i></a></div>
      <div class="editable"><a href="https://www.linkedin.com/in/ricky-hulme-9324b53a/" target="_blank"><i class="teamicon fa fa-linkedin"></i></a></div>
    </div>
  </div>
</div>
