<div class="teamcolumn">
  <div class="teamcolumn-inner">
    <figure class="view1 view-first1">
      <img src="images/scott-allanson.jpg" alt="">
     </figure>
    <div class="team-name">
      <h4>Scott Allanson</h4>
      <h6>Finance Broker</h6>
      <a href="tel:0447277451"><p>Mobile: +61 447 277 451</p></a>
      <a href="mailto:scott@acceleratefinancial.com.au"><i class="teamicon fa fa-envelope"></i></a>
      <a href="https://www.linkedin.com/in/scott-allanson-8b33133b/" target="_blank"><i class="teamicon fa fa-linkedin"></i></a>
    </div>
  </div>
</div>
